:root {
  --puce-solid : #D3849D;
  --puce-50: rgba(211, 132, 157, 0.5);
  --orchidpink-solid: #DDADBD;
  --orchidpink-50: rgba(221, 173, 189, 0.5);
  --wine-solid: #612236;
  --wine-50: rgba(97, 34, 54, 0.5);
  --wine-20: rgba(97, 34, 54, 0.2);
  --lila-solid: #946DA0;
  --lila-50: rgba(148, 109, 160, 0.5);
  --mimipink-solid: #e4dadd;
  --mimipink-50: rgba(228, 204, 212, 0.5);
  --dark-grey: #3c3c3c;

  --font-nosifer: "Nosifer", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

/* MIS REGLAS */
p{
  font-size: 16px;
  font-family: "Roboto", sans-serif ;
}

.footer_title{
  font-family: var(--font-nosifer);
  font-size: large;
  cursor:default;
}

.mdl-layout__drawer .is-active{
  font-family: var(--font-nosifer);
}

/* REGLAS SOBREESCRITAS */

@media (max-width: 600px) {
  .mdl-layout--large-screen-only {
    display: none;
  }
}

.mdl-layout__content{
  background-color: var(--mimipink-solid);
}

.mdl-mini-footer {
  padding: 5px ;
  color: var(--mimipink-solid);
}

.mdl-layout__header-row .mdl-navigation__link {
  color: var(--mimipink-solid);
}

.mdl-navigation__link {
  font-weight: bold;
  color: var(--mimipink-solid);
}

.mdl-layout__drawer{
  width: auto;
  height: initial;
  min-height: 200px;
  background: var(--mimipink-solid);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: inherit;
  color: var(--wine-solid);
  transition:  0.5s ease-out
}

.mdl-cell{
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--wine-solid);
}

/* REGLAS DEL PORFOLIO */
.portfolio-header {
  position: relative;
  background-image: url(images/background.png);
  background-color: var(--dark-grey);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  color: var(--mimipink-solid);
  font-family: var(--font-nosifer);
  padding-bottom: 10px;
  cursor: default;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(images/logo.svg) 50% no-repeat;
  background-size: cover;
  height: 170px;
  width: 220px;
  margin: 0 auto;
  filter: invert(100%) sepia(73%) saturate(691%) hue-rotate(284deg) brightness(91%) contrast(96%);
}

.is-compact .portfolio-logo {
  height: 80px;
  width: 80px;
  margin-top: 5px;
}

.portfolio-navigation-row {
  background-color: var(--wine-50);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: transparent;
    color: var(--mimipink-solid);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: 300;
  font-family: var(--font-nosifer);
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--puce-solid);
  left: 15%;
}

img.article-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px var(--wine-solid);
  background-color: var(--orchidpink-solid);
}

.contact-header-image{ 
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px var(--wine-solid);
  background-color: var(--orchidpink-solid);
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
  font-family: var(--font-bebas);
  font-size: xx-large;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--wine-solid);

}

.no-left-padding{
  padding-left: 0;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  background-image: url(images/background.png);
  background-size: cover;
}

/* GALERIA */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
}

.gallery-item {
  margin: 10px;
  width: 250px;
  max-height: 400px;
  position: relative; 
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--wine-solid);
  transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.gallery-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-item:hover figcaption {
  opacity: 1;
}

/* CONTACTO */
.contacto {
  padding: 20px;
}

.contacto ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px; 
}

.contacto li {
  display: flex;
}

.contacto li a {
  color: var(--wine-solid);
  text-decoration: none;
  display: block; 
  width: 100%; 
  padding: 10px; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.contacto li a:hover {
  background-color: var(--wine-20); 
}

.contact-image {
  margin-right: 10px;
  max-width: 64px;
  max-height: 68.8px;
}

/* Cambiamos a dos columnas en pantallas grandes */
@media (min-width: 768px) {
  .contacto ul {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  }
}

